@import './base.css';

body {
  margin: 10px 10%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  height: 40px;
  width: 100px;
  border: 1px solid black;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: rgb(199, 71, 71);
}

.btn-blue {
  background-color: rgb(71, 71, 199);
}

